<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Pesquisa de Salas</title>
</head>




<div class="panel panel-default">
		
		<div class="panel-heading">
		<div class="clearfix">	
			<h1 class="panel-title">Pesquisa de Salas</h1>
			<form method="GET" action="/siges/salas">
			<div class="col-lg-3">
   				 <div class="input-group">
     				 <input type="text" class="form-control" placeholder="Pesquise aqui..." name="busca"/>
    				  <span class="input-group-btn">
       					 <button class="btn btn-default" type="submit">Go!</button>
      				</span>
   				 </div>
 			 </div>
 			 <div class="col-lg-12">
 			 	<input type="radio" name ="nome" /> Nome
 			 	<input type="radio" name ="setor" /> Setor
 			 </div>
 			  
 			</form>
			<a class="btn btn-link aw-link-panel" href="/siges/salas/novo">Novo usuário</a>
		</div>
		</div>
		<div class="panel-body">
		
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Número da sala</th>
				<th class="text-center col-md-2">Tipo de sala</th>
				<th class="text-center col-md-2">Instituto</th>
				<th class="text-center col-md-2">Capacidade</th>
				<th class="text-center col-md-2">Situação</th>
				<th class="text-center col-md-1">Ação</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="sala : ${salas}">
					<td class="text-center" th:text="${sala.numero_sala}"></td>
					<td class="text-center" th:text="${sala.tipo_sala.descricao}"></td>
					<td class="text-center" th:text="${sala.instituto}"></td>
					<td class="text-center" th:text="${sala.capacidade}"></td>
					<td class="text-center" th:text="${sala.situacao.descricao}"></td>																													   
					<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/siges/salas/{id_sala}(id_sala=${sala.id_sala})}" ><span class="glyphicon glyphicon-pencil" >editar</span></a><a th:href="@{/siges/salas/{id_sala}/excluir(id_sala=${sala.id_sala})}" class="btn btn-link btn-xs" >remover<span class="glyphicon glyphicon-remove"></span></a></td>
					
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(salas)}">Nenhum usuário encontrado</td>
			</tr>
			</tbody>
		
		</table>
		</div>
		
	</div>	


</html>